---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>twoslashes | 404</title>
  </head>
  <body>
    <Navbar />
    <center>
      <pre>
  ██╗  ██╗ ██████╗ ██╗  ██╗
  ██║  ██║██╔═████╗██║  ██║
  ███████║██║██╔██║███████║
  ╚════██║████╔╝██║╚════██║
       ██║╚██████╔╝     ██║
       ╚═╝ ╚═════╝      ╚═╝
</pre>
    </center>
    <h3>Whoopsies!</h3>
    <p>
      If this were a classic telephone, you'd hear the operator saying "<em
        >the number you have dialed is not in service...
      </em>"
    </p>
    <p>
      The thing is, this page doesn't appear to exist yet. The homepage still
      exists for now, so feel free to return by clicking the button below or the
      link at the top-left of the screen.
    </p>

    <p>
      If you'd prefer just sitting here staring at a 404 page, that's fine too.
      ASCII art always hits the spot, in my opinion.
    </p>
    <p>
      <a href="/">
        <button>Go home</button>
      </a>
    </p>
  </body>
</html>
