---
import { Image } from "astro:assets";
import HomeImage from "../assets/home_page_matte.webp";
import HeadLayout from "../layouts/HeadLayout.astro";
import Latest from "../components/Latest.astro";

const date = new Date();
---

<HeadLayout title="// - Home">
  <div>
    <table class="header">
      <tbody
        ><tr>
          <td colspan="2" rowspan="2" class="width-auto">
            <h1 class="title">twoslashes</h1>
            <span class="subtitle"
              >A collection of articles, essays, opinions, & more</span
            >
          </td>
          <th>Version</th>
          <td class="width-min">v0.1.1</td>
        </tr>
        <tr>
          <th>Updated</th>
          <td class="width-min"
            ><time style="white-space: pre;">2024-11-20</time></td
          >
        </tr>
        <tr>
          <th class="width-min">Author</th>
          <td class="width-auto"
            ><a href="https://www.aronsweet.com" target="_blank"
              ><cite>nodesleep</cite></a
            ></td
          >
          <th class="width-min">License</th>
          <td>CC BY-ND</td>
        </tr>
      </tbody>
    </table>
    <Image
      src={HomeImage}
      alt="A man walking alone"
      loading={"eager"}
      height="500"
    />
    <p>
      If you're a software engineer, web developer, or a nerd all the same;
      you'll know that two slashes signify a comment in code. While a lot of my
      writings here won't necessarily pertain to code (some of it will), my
      purpose for this site was to offer commentary. These are my comments.
    </p>
    <p>
      This is a quiet corner of the internet where I share thoughts, ideas, and
      opinions that don't always fit into polite conversations or social media
      posts. It's not a portfolio, nor a professional statement; Just a
      collection of musings from someone who enjoys asking questions and
      challenging norms.
    </p>
    <p>
      Feel free to browse, reflect, or even disagree. Just know that what's
      written here isn't meant to persuade or provoke, only to explore and
      provide insight and facilitate understanding from a potentially differing
      viewpoint.
    </p>
    <p>Welcome, wanderer.</p>
    <Latest />
    <hr />
    <div>
      <p>
        &copy; {date.getFullYear()} all rights reserved. Some content is provided
        under the Creative Commons CC BY-ND (Attrbution, No Derivatives) license.
      </p>
    </div>
  </div>
</HeadLayout>
