---
const date = new Date();
---

<hr />
<footer>
  <p>
    &copy; {date.getFullYear()} all rights reserved. Some content is provided under
    the Creative Commons CC BY-ND (Attrbution, No Derivatives) license. The Monospace
    Web is provided under the MIT license.
  </p>
</footer>
