---
const date = new Date();
---

<hr />
<footer>
  <p>
    &copy; <span id="current-year">{date.getFullYear()}</span> This site and its
    works are licensed under the
    <a
      href="https://creativecommons.org/licenses/by-nd/2.0/deed.en"
      target="_blank"
      rel="noopener noreferrer"
    >
      Creative Commons Attribution-NoDerivs 2.0</a
    > license.
  </p>
  <p>
    This site includes a
    <a
      href="https://owickstrom.github.io/the-monospace-web/"
      target="_blank"
      rel="noopener noreferrer">CSS file</a
    > licensed under the MIT license. The photograph pictured on the home page is
    of a street in Antwerp, Belgium taken by my best friend Michael.
  </p>
</footer>
